@model SimchasViewModel

<div class="header">
    <h1>Simchas</h1>
</div>

<div class="row header">
    <div class="col-md-4">
        <button class="btn btn btn-danger" id="new-simcha">New Simcha</button>
    </div>
</div>

<div class="table-responsive mt-3">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Contributions</th>
                <th>Simcha Name</th>
                <th>Contributor Count</th>
                <th>Total</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var simcha in Model.Simchas)
            {
                <tr>
                    <td><a class="btn btn-primary" href="/home/contributions?id=@simcha.Id">Contributions</a></td>
                    <td>@simcha.Name</td>
                    <td>@simcha.ContributorCount.HowManyContributed / @simcha.ContributorCount.TotalContributors</td>
                    <td>@simcha.Total.ToString("C")</td>
                    <td>@simcha.Date.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Simcha</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/home/newsimcha">
                    <div class="form-group">
                        <label class="form-label">Simcha Name</label>
                        <input class="form-control" name="name" placeholder="Simcha Name" type="text">
                    </div>
                    <div class="form-group mt-3">
                        <label class="form-label">Date</label>
                        <input type="date" name="date" class="form-control" id="datepicker">
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary" name="commit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/simchas.js"></script>
}